SUPABASE_URL=https://hsvrmwvofhyueusketkt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhzdnJtd3ZvZmh5dWV1c2tldGt0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTg1NTc5MywiZXhwIjoyMDg1NDMxNzkzfQ.u716Bl-w5qERVyIZUerfK_BT_-0FHjJYfmEkuKuJuBM
RESEND_API_KEY=
RESEND_FROM=
ZAPIER_WEBHOOK_URL=
OPENAI_API_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
APP_DOMAIN=https://ppwr-dpp-pack.vercel.app
COMPLIANCE_QR_SECRET=NS1u4eHCgv7Sl7Cpzj65zP5eqlo8XheyAjxvpFmssu0p9PaK2jyZRR
COMPLIANCE_STORAGE_BUCKET=compliance-assets
